<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOPl12z1eZmYrdkKME9BB-nztDfXO9S5U</string>
	<key>GCM_SENDER_ID</key>
	<string>530234958765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jonivaspa.ezspa</string>
	<key>PROJECT_ID</key>
	<string>joniva-spa</string>
	<key>STORAGE_BUCKET</key>
	<string>joniva-spa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530234958765:ios:6512440ac0903ac36cb724</string>
	<key>DATABASE_URL</key>
	<string>https://joniva-spa-default-rtdb.firebaseio.com</string>
</dict>
</plist>